<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<head>
    <title>Template</title>

</head>

<body>
<section layout:fragment="content">
    <h3>Détail de la commande:</h3>


    <table class="table">
        <tr>
            <td>Client</td>
            <td th:text="${order.getCustomer().getName()}"/>
        </tr>

        <tr>
            <td>Date de commande</td>
            <td th:text="${order.getOrderDate()}"/>
        </tr>
        <tr>
            <td>Total</td>
            <td th:text="${order.getTotal()} + '€'"/>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>Article</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Montant</th>

        </tr>
        <tr th:each="product:${order.getOrderedProducts()}">
            <td><a th:value="${product.getProduct().getId()}" th:href="@{'/products/' + ${product.getProduct().getId()}}" th:text="${product.getProduct().getName()}"/>
            <td th:text="${product.getQuantity()}"/>
            <td th:text="${product.getProduct().getPrice()}"/>
            <td th:text="${product.getProduct().getPrice()} * ${product.getQuantity()}">
        </tr>

    </table>

    <a  class="form-control btn-primary" th:href="@{'/orders/confirmorder/' + ${order.getId()}}" th:text="'Valider la commande'"/>

</section>

<section layout:fragment="content-right">

    <!-- INSERT SOMETHING HERE -->

</section>


</body>
</html>