<!DOCTYPE html>
<html lang="fr">
<div data-th-fragment="search">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Recherche d'un magasin</div>
                <div class="panel-body">
                    <form method="post" data-th-action="@{/admin/stores/search}" data-th-object="${searchForm}">
                        <div class="form-group">
                            <div class="label-control col-sm-3">
                                <select class="form-control" id="select" data-th-field="*{searchValue}">
                                    <option value="1">Identifiant du magasin</option>
                                    <option value="2">Nom du magasin</option>
                                </select>
                            </div>
                            <div id="change_me" class="input-group">
                                <input type="text" class="form-control" data-th-field="*{keyword}" placeholder="Saisir une recherche de magasin" required>
                                <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                    Rechercher
                                </button>
                              </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div data-th-if="${result != null}">
        <div data-th-replace="/admin/fragments/stores/result :: result"></div>
    </div>
</div>
</html>