<!DOCTYPE html>
<html data-layout-decorate="~{admin/layout}" lang="fr">
<head>
    <title data-th-text="${pageTitle}"></title>
</head>
<body>
<div data-layout-fragment="content" style="margin-top: 80px;">
    <div class="container-fluid text-center">
        <div class="row content">
            <div data-th-replace="admin/fragments/stores/nav :: nav"></div>
            <div class="col-sm-9 text-left">
                <div data-th-if="${content=='searchPage'}">
                    <div data-th-replace="admin/fragments/stores/search :: search"></div>
                </div>
                <div data-th-if="${content=='addPage'}">
                    <div data-th-replace="admin/fragments/stores/add_store :: add_store"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>