<!DOCTYPE html>
<html>
<div data-th-fragment="producer_form">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Recherche d'un producteur</div>
                <div class="panel-body">
                    <form method="post" data-th-action="@{/admin/products/search/producer}" data-th-object="${searchForm}"
                          id="mainSearchForm">
                        <div class="form-group">
                            <div class="label-control col-sm-3">
                                <select class="form-control" id="select" data-th-field="*{searchValue}">
                                    <option value="1">Identifiant producteur</option>
                                    <option value="2">Nom du producteur</option>
                                    <option value="3">E-mail du producteur</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" data-th-field="*{keyword}"
                                       placeholder="Saisir une recherche de producteur"
                                       id="mainSearchInput"
                                       required>
                                <span class="input-group-btn">
                                <button class="btn btn-primary"
                                        type="submit"
                                        id="mainSearchBtn">
                                    <span class="glyphicon glyphicon-search"></span>
                                    Rechercher
                                </button>
                              </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>