<!DOCTYPE html>
<html>
<div data-th-fragment="stock_data">
    <ul class="list-group">
        <li class="list-group-item" style="height: 56px; border: none;">
            <div class="form-group">
                <div class="input-group">
                    <label for="quantity" class="input-group-addon" style="width: 140px;">
                        Quantité
                    </label>
                    <input type="text" class="form-control" id="quantity">
                    <div class="input-group-btn">
                        <button class="btn btn-danger" type="button" tabindex="-1" disabled
                                data-toggle="tooltip" data-placement="left"
                                title="Saisir la quantité disponible" style="cursor: default;">
                            <span class="glyphicon glyphicon-check" aria-hidden="true" style="padding-left: 6px;"></span>
                        </button>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item" style="height: 56px; border: none;">
            <div class="form-group">
                <div class="input-group">
                    <label for="expireDate" class="input-group-addon" style="width: 140px;">
                        Date d'expiration
                    </label>
                    <input type="text" class="form-control" id="expireDate">
                    <div class="input-group-btn">
                        <button class="btn btn-danger" type="button" tabindex="-1" disabled
                                data-toggle="tooltip" data-placement="left"
                                title="Saisir la date d'expiration" style="cursor: default;">
                            <span class="glyphicon glyphicon-check" aria-hidden="true" style="padding-left: 6px;"></span>
                        </button>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item" style="height: 56px; border: none;">
            <div class="form-group">
                <div class="input-group">
                    <label for="packaging" class="input-group-addon" style="width: 140px;">
                        Conditionnement
                    </label>
                    <input type="text" class="form-control" id="packaging">
                    <div class="input-group-btn">
                        <button class="btn btn-danger" type="button" tabindex="-1" disabled
                                data-toggle="tooltip" data-placement="left"
                                title="Saisir le type de conditionnement" style="cursor: default;">
                            <span class="glyphicon glyphicon-check" aria-hidden="true" style="padding-left: 6px;"></span>
                        </button>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item" style="height: 56px; border: none;">
            <div class="form-group">
                <div class="input-group">
                    <label for="package_unit" class="input-group-addon" style="width: 140px;">
                        Unité par colis
                    </label>
                    <input type="text" class="form-control" id="package_unit">
                    <div class="input-group-btn">
                        <button class="btn btn-danger" type="button" tabindex="-1" disabled
                                data-toggle="tooltip" data-placement="left"
                                title="Saisir le nombe d'unités par colis"
                                style="cursor: default;">
                            <span class="glyphicon glyphicon-check" aria-hidden="true" style="padding-left: 6px;"></span>
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
</html>