<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>

<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->

    <table class="table">
        <tr>
            <th>Email utilisateur</th>
            <th>Prénom</th>
            <th>Nom</th>
        </tr>
        <tr th:each = "user:${users}">
            <td th:text="${user.getEmail()}"/>
            <td><a th:text="${user.getId()}" th:href="@{'/orders/' + ${user.getId()}}" th:value="${user.getId()}"/></td>
            <td th:text="${user.getName()}"/>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>Image</th>
            <th>Nom </th>
            <th>Catégorie</th>
        </tr>
        <tr th:each = "product:${products}">
            <td><img th:src="${product.getPicture()}"/>
            <td th:text="${product.getName()}"/>
            <td th:text="${product.getCategory().getName()}"/>
        </tr>
    </table>
</section>

    <div class="container-fluid">

        <table class="table">
            <tr>
                <th>Email utilisateur</th>
                <th>Prénom</th>
                <th>Nom</th>
            </tr>
            <tr th:each = "user:${users}">
                <td th:text="${user.getEmail()}"/>
                <td><a th:text="${user.getId()}" th:href="@{'/orders/' + ${user.getId()}}"/></td>
                <td th:text="${user.getName()}"/>
            </tr>
        </table>

        <table class="table">
            <tr>
                <th>Image</th>
                <th>Nom </th>
                <th>Catégorie</th>
            </tr>
            <tr th:each = "product:${products}">
                <td><img th:src="${product.getPicture()}"/>
                <td th:text="${product.getName()}"/>
                <td th:text="${product.getCategory().getName()}"/>
            </tr>
        </table>

    </div>
</body>
</html>