<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
</head>
<body>

<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->

    <div id="mapid">Map</div>

    <table class="table">
        <tr>
            <th>Email utilisateur</th>
            <th>Prénom</th>
            <th>Nom</th>
        </tr>
        <tr th:each = "user:${users}">
            <td th:text="${user.getEmail()}"/>
            <td><a th:text="${user.getId()}" th:href="@{'/orders/' + ${user.getId()}}" th:value="${user.getId()}"/></td>
            <td th:text="${user.getName()}"/>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>Image</th>
            <th>Nom </th>
            <th>Catégorie</th>
        </tr>
        <tr th:each = "product:${products}">
            <td><img th:src="${product.getPicture()}"/>
            <td th:text="${product.getName()}"/>
            <td th:text="${product.getCategory().getName()}"/>
        </tr>
    </table>
</section>

    <div class="container-fluid">

        <table class="table">
            <tr>
                <th>Email utilisateur</th>
                <th>Prénom</th>
                <th>Nom</th>
            </tr>
            <tr th:each = "user:${users}">
                <td th:text="${user.getEmail()}"/>
                <td><a th:text="${user.getId()}" th:href="@{'/orders/' + ${user.getId()}}"/></td>
                <td th:text="${user.getName()}"/>
            </tr>
        </table>

        <table class="table">
            <tr>
                <th>Image</th>
                <th>Nom </th>
                <th>Catégorie</th>
            </tr>
            <tr th:each = "product:${products}">
                <td><img th:src="${product.getPicture()}"/>
                <td th:text="${product.getName()}"/>
                <td th:text="${product.getCategory().getName()}"/>
            </tr>
        </table>

    </div>

<script>
    var mymap = L.map('mapid').setView([51.505, -0.09], 13);
</script>
</body>
</html>