<!DOCTYPE html>
<html data-layout-decorate="~{shop/layout}">
<head>
    <title>LPDM - Shop</title>
</head>
<body>
<div data-layout-fragment="content" style="padding: 20px;">

    <div class="text-center">
        <h2>Nouveau produits disponibles</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4 shadow-box product">
            <p class="">Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
        <div class="col-sm-4 shadow-box product">
            <p>Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
        <div class="col-sm-4 shadow-box product">
            <p>Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
        <div class="col-sm-4 shadow-box product">
            <p>Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
        <div class="col-sm-4 shadow-box product">
            <p>Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
        <div class="col-sm-4 shadow-box product">
            <p>Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
    </div>
    <br>
    <hr>
    <div class="text-center">
        <h2>Meilleures ventes</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4 shadow-box">
            <p>Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
        <div class="col-sm-4 shadow-box">
            <p>Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
        <div class="col-sm-4 shadow-box">
            <p>Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
    </div>

</div>
</body>
</html>