<!DOCTYPE html>
<html data-layout-decorate="~{shop/layout}" lang="fr">
<head>
    <title>LPDM - Shop</title>
</head>
<body>
<div data-layout-fragment="content" style="padding: 20px;">

    <div class="text-center">
        <h2>Nos produits</h2>
        <form class= form-group th:action="@{/products/sortbycatandprod}" method="post">
            <fieldset>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Par catégorie</label>
                        <select class="form-control" name="category">
                            <option value="0"> -- </option>
                            <option th:each="category:${categories}" th:value="${category.getId()}" th:text="${category.getName()}"/>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Par producteur</label>
                        <select class="form-control" name="producer">
                            <option value="0"> -- </option>
                            <option th:each="producer:${producers}" th:value="${producer.getId()}" th:text="${producer.getName()}"/>
                        </select>
                    </div>
                </div>

                <br/>
                <input class="form-control" type="submit" value="Filtrer les produits"/><br/>

            </fieldset>
        </form>
    </div>
    <br>
    <div class="row">
        <div th:each="product: ${products}" class="col-sm-4 shadow-box product">
            <a th:href="@{'/products/' + ${product.getId()}}" th:value="${product.getId()}"
               th:text="${product.getName()}"/> <div th:text="${product.getPrice()}"/><br/>
            <p><a th:href="@{'/orders/' + ${product.getId()} + '/sub'}" class="minus" th:value="${product.getId()}" >-</a> <input class="nbitem" /> <a th:href="@{'/orders/' + ${product.getId()} + '/add'}" class="plus" th:value="${product.getId()}" >+</a></p>

            <img th:src="${product.getPicture()}" class="product product-img"/><br/>

        </div>


    </div>

    <br>

    <hr>
    <div class="text-center">
        <h2>Meilleures ventes</h2>
    </div>
    <br>
    <!--
    <div class="row">
        <div class="col-sm-4 shadow-box">
            <p>Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
        <div class="col-sm-4 shadow-box">
            <p>Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
        <div class="col-sm-4 shadow-box">
            <p>Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
    </div>
    -->
</div>
</body>
</html>