<!DOCTYPE html>
<html>
<div data-th-fragment="search_form">
    <div class="panel panel-default">
        <div class="panel-heading">Recherche d'un stock</div>
        <div class="panel-body">
            <form method="post" data-th-action="@{/admin/products/search}" data-th-object="${searchForm}"
                  id="mainSearchForm">
                <div class="form-group">
                    <div class="label-control col-sm-3">
                        <select class="form-control" id="select"
                                data-th-field="*{searchValue}"
                                style="cursor: pointer;">
                            <option value="1">Identifiant du stock</option>
                            <option value="2">Identifiant du produit</option>
                            <option value="3">Nom du produit</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" data-th-field="*{keyword}"
                               placeholder="Saisir une recherche de stock" id="mainSearchInput" required>
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" id="mainSearchBtn">
                                <span class="glyphicon glyphicon-search"></span>
                                Rechercher
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>