<!DOCTYPE html>
<html data-layout-decorate="~{shop/layout}" lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>LPDM - Producer</title>
</head>
<body>
<div data-layout-fragment="content" style="padding-top: 10px;">
    <div class="row">

        <div th:if="${list != null}">

            <h2 class="text-center">Veuillez sélectionner un produit.</h2>

            <div th:each="product: ${list}" class="col-sm-6 shadow-box product">
                <h4 th:text="${product.getName()}"></h4>
                <img th:src="${product.getPicture()}" class="product product-img"/><br/>
                <a th:href="@{/producer/product/stock/add/{id} (id=${product.getId()})}"> <button class="btn btn-primary">Ajouter un stock</button> </a>
                <a th:href="@{/producer/product/stock/modif/{id} (id=${product.getId()})}"> <button class="btn btn-warning">Modifier un stock</button> </a>
                <a th:href="@{/producer/product/stock/delete/{id} (id=${product.getId()})}"> <button class="btn btn-danger">Supprimer un stock</button> </a>

            </div>
        </div>
        <div th:if="${list == null}">
            <h2 class="text-center">Vous n'avez aucun produit enregistré.</h2>
        </div>
    </div>

</div>
</body>
</html>