@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    font-family: 'Open Sans', 'sans-serif';
}
.mega-dropdown {
    position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    color: #222;
    padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ff3546;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;

}
.left.carousel-control {
    right: 30px;
    left: inherit;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}

.navbar{
    padding: 10px;
}

.navbar-brand{
    margin-right: 40px;
}

.main-title{
    padding-top: 10px;
    padding-left: 20px;
}


.shadow-box {
    position: relative;
}
.shadow-box::before, .shadow-box::after {
    content: '';
    position: absolute;
    top: 80%;
    bottom: 13px;
    display: block;
    width: 50%;
    -webkit-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    z-index: -1;
    left: 10px;
}
.shadow-box::before {
    background: transparent;
    right: 10px;
    left: auto;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
}
.shadow-box::after {
    background: transparent;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.shadow-box-2 {
    position: relative;
}
.shadow-box-2::before {
    content: '';
    position: absolute;
    top: 80%;
    bottom: 13px;
    display: block;
    width: 50%;
    -webkit-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    z-index: -1;
    right: 10px;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
}

.shadow-box-6 {
    position: relative;
}
.shadow-box-6::before, .style-06::after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}
.shadow-box-6::after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.shadow-box-8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow-box-8:before, .shadow-box-8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow-box-8:after
{

    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.product{
    margin-bottom: 30px;
    text-align: center;
}

.product-img{
    width: 80%;
    height: 80%;
    max-height: 20em;
    max-width: 20em;
    min-height: 10em;
    max-height: 10em;
    border: 2px black solid;

}