<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Produits</title>
</head>
<body>

products

<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->

    <table class="table">
        <tr>
            <th>Image</th>
            <th>Nom </th>
            <th>Catégorie</th>
        </tr>
        <tr th:each = "product:${products}">
            <td><img th:src="${product.getPicture()}"/></td>
            <td><a th:href="@{'/products/' + ${product.getId()}}" th:value="${product.getId()}"
                   th:text="${product.getName()}"/></td>
            <td th:text="${product.getCategory().getName()}"/>
        </tr>
    </table>

    <!--
    <div class="row">
        <div class="col-md-4">
            <table class="table">
            <th>Sites</th>
            <tr th:each="site : ${sites}">

                <td><a style="color: #213370" th:href="@{'/routes/' + ${site.getId()}}" th:value="${site.getId()}"
                       th:text="${site.getName()}"/></td>
            </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
            <th>Secteurs</th>

    <tr th:each="area : ${areas}">
        <td>

            <a style="color: #213370"
               th:href="@{'/routes/' + ${area.getSite().getId()} + '/' + ${area.getId()}}"
               th:value="${area.getId()}" th:text="${area.getName()}"/></td>
    </tr>
    </table>
    </div>
    <div class="col-md-4">
        <table class="table">
            <th>Voies</th>
            <tr th:each="route : ${routes}">
                <td><a style="color: #213370" th:href="@{'/routedescription/' + ${route.getId()}}"
                       th:value="${route.getId()}" th:text="${route.getName()}"/></td>
            </tr>
        </table>
    </div>

    </div>
    -->
</section>



</body>
</html>