<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Produits</title>
</head>
<body>

products

<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->

    <table class="table">
        <tr>
            <th>Image</th>
            <th>Nom </th>
            <th>Catégorie</th>
            <th>Prix</th>
            <th>Producteur</th>

        </tr>
        <tr th:each = "product:${products}">
            <td><img th:src="${product.getPicture()}"/></td>
            <td><a th:href="@{'/products/' + ${product.getId()}}" th:value="${product.getId()}"
                   th:text="${product.getName()}"/></td>
            <td th:text="${product.getCategory().getName()}"/>
            <td th:text="${product.getPrice()}"/>
            <td th:text="${product.getProductorID()}"/>

        </tr>
    </table>

    </section>

<section layout:fragment="content-right">

    <form action="/products/" method="post" class="form-group"> <!-- right-content-form -->
        <ul class="form-style-1">
            <li><label>Produit <span class="required">*</span></label><input type="text" name="name" class="form-control" placeholder="Nom du Produit" /> </li>

            <!--
            <li>
                <label>Catégorie<span class="required">*</span></label>
                <select th:field="*{cats}" name="categoryId" class="field-select form-control">
                    <option th:each="cat:${cats}"
                            th:value="${cat.getId()}"
                            th:utext="${cat.getCategory().getName()}"
                    />
                </select>
            </li>
            -->
            <li>
                <label> Prix<span class="required">*</span></label>
                <input type="text" name="price" class="field-long form-control" />
            </li>
            <li>
                <label>Descriptif <span class="required">*</span></label>
                <textarea name="label" id="field5" class="field-long field-textarea form-control"></textarea>
            </li>
            <li>
                <input type="submit" value="Enregistrer" class="form-control"/>
            </li>
        </ul>
    </form>

</section>



</body>
</html>