<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<head>
    <title>Produit:description</title>

</head>

<body>

<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->

    <h1>Description  du produit:</h1>
    <h2 th:text="${product.getName()}"/>
    <img th:src="${product.getPicture()}"/>

    <table class="table">
        <tr>
            <td>Catégorie</td>
            <td th:text="${product.getCategory().getName()}"/>
        </tr>
        <tr>
            <td>Descriptif</td>
            <td th:text="${product.getLabel()}"/>
        </tr>
        <tr>
            <td>Producteur</td>
            <td th:text="${product.getProducer().getFirstName()} + ' ' + ${product.getProducer().getName()}"/>
        </tr>
        <tr>
            <td><b>Prix</b></td>
            <td th:text="${product.getPrice()}"/>
        </tr>

    </table>



</section>

</body>
</html>