<!DOCTYPE html>
<html>
<div data-th-fragment="search">
    <script data-th-src="@{/js/admin/product/product.js}"></script>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Recherche d'un produit</div>
                <div class="panel-body">
                    <form method="post" data-th-action="@{/admin/products/search}" data-th-object="${searchForm}"
                          id="mainSearchForm">
                        <div class="form-group">
                            <div class="label-control col-sm-3">
                                <select class="form-control" id="select" data-th-field="*{searchValue}">
                                    <option value="1">Identifiant du produit</option>
                                    <option value="2">Nom du produit</option>
                                    <option value="3">Nom de la catégorie</option>
                                    <option value="4">Identifiant du producteur</option>
                                    <option value="5">Nom du producteur</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" data-th-field="*{keyword}"
                                       placeholder="Saisir une recherche de produit" id="mainSearchInput" required>
                                <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" id="mainSearchBtn">
                                    <span class="glyphicon glyphicon-search"></span>
                                    Rechercher
                                </button>
                              </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div data-th-if="${result != null}">
        <div data-th-include="admin/fragments/products/search/result :: search_result(${result})"></div>
    </div>
</div>
</html>