<!DOCTYPE html>
<html>
<div data-th-fragment="search">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Recherche d'un produit</div>
                <div class="panel-body">
                    <form method="post" data-th-action="@{/admin/products/search}" data-th-object="${searchForm}">
                        <div class="form-group">
                            <div class="label-control col-sm-3">
                                <select class="form-control" id="select" data-th-field="*{searchValue}">
                                    <option value="1">Identifiant du produit</option>
                                    <option value="2">Nom du produit</option>
                                    <option value="3">Nom de la catégorie</option>
                                    <option value="4">Nom du producteur</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" data-th-field="*{keyword}" placeholder="Saisir une recherche de produit" required>
                                <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                    Rechercher
                                </button>
                              </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div data-th-if="${result != null}">
        <div data-th-if="${result instanceof T(com.lpdm.msuser.msproduct.ProductBean)}">
            <ul class="list-group">
                <li class="list-group-item" style="height: 60px; border: none;">
                    <b>ID <span data-th-text="${result.id}"></span></b>
                    <div class="pull-right">
                        <div class="input-group">
                            <label for="name" class="input-group-addon">Catégorie</label>
                            <select class="form-control">
                                <option data-th-each="cat,status : ${categories}"
                                        data-th-value="${status.index}"
                                        data-th-text="${cat.name}"
                                        data-th-selected="${cat.name == result.category.name}">
                                </option>
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" tabindex="-1">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true" style="padding-left: 6px;"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" style="height: 56px; border: none;">
                    <div class="form-group">
                        <div class="input-group">
                            <label for="name" class="input-group-addon" style="width: 140px;">Nom</label>
                            <input type="text" data-th-value="${result.name}" class="form-control" id="name">
                            <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                        <span class="glyphicon glyphicon-ok" style="padding-left: 6px;"></span>
                                    </button>
                              </span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" style="height: 56px; border: none;">
                    <div class="form-group">
                        <div class="input-group">
                            <label for="name" class="input-group-addon" style="width: 140px;">Désignation</label>
                            <input type="text" data-th-value="${result.label}" class="form-control" id="label">
                            <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                        <span class="glyphicon glyphicon-ok" style="padding-left: 6px;"></span>
                                    </button>
                              </span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" style="height: 56px; border: none;">
                    <div class="form-group">
                        <div class="input-group">
                            <label for="name" class="input-group-addon" style="width: 140px;">Prix unitaire HT</label>
                            <input type="text" data-th-value="${result.price}" class="form-control" id="price">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-ok" style="padding-left: 6px;"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" style="height: 56px; border: none;">
                    <div class="form-group">
                        <div class="input-group">
                            <label for="name" class="input-group-addon" style="width: 140px;">T.V.A %</label>
                            <input type="text" data-th-value="${result.tva}" class="form-control" id="tva">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-ok" style="padding-left: 6px;"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <img src="https://www.auchandirect.fr/backend/media/products_images/0N_57324.jpg" class="img-rounded pull-left" alt="Cinque Terre" style="height: 150px;">

                        <div class="form-group">
                            <div class="input-group">
                                <label for="name" class="input-group-addon" style="width: 60px;">URL</label>
                                <input type="text" data-th-value="${result.picture}" class="form-control" id="tva">
                                <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-ok" style="padding-left: 6px;"></span>
                                </button>
                            </span>
                            </div>
                        </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <button type="button" class="btn btn-danger">Désactiver ce produit</button>
                </div>
            </div>
        </div>
        <div data-th-if="${result instanceof T(java.util.List)}">
            List Object
            <br>
            Résultat : <span data-th-text="${result}"></span>
        </div>
        <div data-th-if="${result instanceof T(java.lang.String)}">
            Erreur : <span data-th-text="${result}"></span>
        </div>
        <div data-th-if="${result instanceof T(java.lang.Integer)}" class="alert alert-danger">
            <span data-th-if="${result == 404}">
                <i class="glyphicon glyphicon-remove" style="display:table-cell;"></i>
                Aucune commande n'a été trouvée.
            </span>
            <span data-th-if="${result == 500}">
                <i class="glyphicon glyphicon-remove" style="display:table-cell;"></i>
                La syntaxe de la requête est erronée ou le microservice est injoignable.
            </span>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Console</div>
            <div class="panel-body">
                <pre data-th-text="${result}"></pre>
            </div>
        </div>
    </div>
</div>
</html>