<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Enregistrement</title>

</head>

<body>

<div th:if="${param.error}">
    Utilisateur ou mot de passe invalide
</div>
<div th:if="${param.logout}">
    Vous êtes déconnecté.
</div>
<form th:action="@{/identification/registration}" method="post">
    <div><label> Nom : <input type="text" name="name"/> </label></div>
    <div><label> Prénom : <input type="text" name="firstName"/> </label></div>
    <div><label> Adresse email : <input type="email" name="email"/> </label></div>
    <div><label> Mot de passe : <input type="password" name="password"/> </label></div>
    <div><label> Confirmation du mot de passe : <input type="password" name="password2"/> </label></div>

    <p>Sélectionnez les rôles de l'utilisateur</p>

    <div>
        <input type="checkbox" id="client" name="client" checked>
        <label for="client">Client</label>
    </div>
    <div>
        <input type="checkbox" id="producteur" name="producteur">
        <label for="producteur">Producteur</label>
    </div>
    <div>
        <input type="checkbox" id="livreur" name="livreur">
        <label for="livreur">Livreur</label>
    </div>
    <div>
        <input type="checkbox" id="admin" name="admin">
        <label for="admin">Admin</label>
    </div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<p th:text="${error}"/>
</body>
</html>