<!DOCTYPE html>
<html>
<!-- Modal -->
<div data-th-fragment="modal">
    <div class="modal fade" id="modal_upload" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Transférer une nouvelle photo du produit</h4>
                </div>
                <div class="modal-body">
                    <div id="uploadForm"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>