<!DOCTYPE html>
<html lang="fr">
<div data-th-fragment="nav">
    <div class="col-sm-3 sidenav text-left">
        <div class="list-group">
            <a class="list-group-item" href="/admin/orders/search">Rechercher une commande</a>
            <a class="list-group-item" href="/admin/orders/delivery">Modes de livraison</a>
            <a class="list-group-item" href="/admin/orders/payments">Moyens de paiment</a>
            <a class="list-group-item" href="/admin/orders/coupon">Codes promotionnels</a>
        </div>
    </div>
</div>
</html>