<!DOCTYPE html>
<html>
<div data-th-fragment="search">
    <script data-th-src="@{/js/admin/order.js}"></script>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Recherche d'une commande</div>
                <div class="panel-body">

                    <script data-th-inline="javascript">
                        /*<![CDATA[*/
                        let selectedTab = [[${selectedTab}]];
                        /*]]>*/
                    </script>

                    <!-- START TABS -->
                    <ul class="nav nav-tabs">
                        <li id="li_order_id"><a data-toggle="tab" href="#order_id">Identifiant</a></li>
                        <li id="li_customer"><a data-toggle="tab" href="#customer">Client</a></li>
                        <li><a data-toggle="tab" href="#invoice">Facture</a></li>
                        <li><a data-toggle="tab" href="#status">Statut</a></li>
                        <li><a data-toggle="tab" href="#date">Date</a></li>
                        <li><a data-toggle="tab" href="#payment">Paiement</a></li>
                        <li><a data-toggle="tab" href="#product">Produit</a></li>
                    </ul>

                    <div class="tab-content">
                        <!-- Search by order id -->
                        <div data-th-replace="admin/fragments/orders/search/order_id :: order_id"></div>

                        <!-- Search by order id -->
                        <div data-th-replace="admin/fragments/orders/search/customer :: customer"></div>

                        <div id="invoice" class="tab-pane fade">
                            <br>
                            <form method="post" data-th-action="@{/admin/orders/search}" data-th-object="${searchForm}">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-th-field="*{keyword}"
                                               placeholder="Saisir la référence de la facture" required>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                                Rechercher
                                            </button>
                                        </span>
                                        <input type="hidden" name="searchValue" value="0">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="status" class="tab-pane fade">
                            <br>
                            <form method="post" data-th-action="@{/admin/products/search}" data-th-object="${searchForm}">
                                <div class="input-group">
                                    <label for="selectStatus"></label>
                                    <select class="form-control" id="selectStatus" data-th-field="*{searchValue}">
                                        <option value="0">E-mail du client</option>
                                        <option value="0">Nom de famille</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                            Rechercher
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div id="date" class="tab-pane fade">
                            <br>
                            <form method="post" data-th-action="@{/admin/orders/search}" data-th-object="${searchForm}">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-th-field="*{keyword}"
                                               placeholder="Saisir la référence de la facture" required>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                                Rechercher
                                            </button>
                                        </span>
                                        <input type="hidden" name="searchValue" value="0">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="payment" class="tab-pane fade">
                            <br>
                            <form method="post" data-th-action="@{/admin/products/search}" data-th-object="${searchForm}">
                                <div class="input-group">
                                    <label for="selectPayment"></label>
                                    <select class="form-control" id="selectPayment" data-th-field="*{searchValue}">
                                        <option data-th-each="p,id : ${payments}"
                                                data-th-text="${p.label}"
                                                data-th-value="${id.index}">
                                        </option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                            Rechercher
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div id="product" class="tab-pane fade">
                            <br>
                            <form method="post" data-th-action="@{/admin/products/search}" data-th-object="${searchForm}">
                                <div class="form-group">
                                    <div class="label-control col-sm-3">
                                        <select class="form-control" id="selectProduct" data-th-field="*{searchValue}">
                                            <option value="0">Identifiant du produit</option>
                                            <option value="0">Nom du produit</option>
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-th-field="*{keyword}"
                                               placeholder="Saisir l'information sur le produit" required>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                                Rechercher
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div data-th-if="${result != null}">
        <div data-th-include="admin/fragments/orders/search/result :: search_result(${result})"></div>
    </div>
</div>
</html>