<div th:fragment="contactform">
    <form action="/products/" method="post" class="form-group"> <!-- right-content-form -->
        <ul class="form-style-1">
            <li><label>Produit <span class="required">*</span></label><input type="text" name="name" class="form-control" placeholder="Nom du Produit" /> </li>

            <li>
                <label>Catégorie<span class="required">*</span></label>

            </li>
            <li>
                <label> Prix<span class="required">*</span></label>
                <input type="text" name="price" class="field-long form-control" />
            </li>
            <li>
                <label>Descriptif <span class="required">*</span></label>
                <textarea name="label" id="field5" class="field-long field-textarea form-control"></textarea>
            </li>
            <li>
                <input type="submit" value="Enregistrer" class="form-control"/>
            </li>
        </ul>
    </form>
</div>