<div th:fragment="contactform">
    <form th:action="@{'/message'}" method="post" class="form-group"> <!-- right-content-form -->
        <ul class="form-style-1">
            <li><label>Email<span class="required">*</span></label><input type="text" name="email" class="form-control" placeholder="Votre Email" /> </li>

            <li>
                <label>Votre message<span class="required">*</span></label>
                <textarea name="text" id="field5" class="field-long field-textarea form-control"></textarea>
            </li>
            <li>
                <input type="submit" value="Enregistrer" class="form-control"/>
            </li>
        </ul>
    </form>
</div>