<div data-th-fragment="header">
     <header>





        <!-- col 1  -->
        <div class="row">
            <div class="col-md-3">
                <img id="logo" src="/panier.png" alt="panier rigolo"/>
            </div>
            <!-- col 2  -->
            <div class="col-md-7">
                <h1>Bienvenue sur LaPlaceDuMarche.fr !</h1>
                <h3>Mangeons ce que nous pouvons, pas ce que nous voulons...</h3>
            </div>
            <!-- col 3  -->
            <div class="col-md-2">
                <div data-th-if="${userData != null}">
                    <h3>Bonjour <span data-th-text="${userData.userName}"></span></h3>
                </div>
                <a data-th-if="${userData == null}" href="/identification/login">Identification</a>
                <!--
                <a th:unless="${username}" href="/identification/login">Identification</a>
                <h3 th:unless="!${username}" th:text="'Bienvenue, ' + ${username}"/>
                <a th:unless="!${username}" href="/identification/logout">Déconnexion</a>
                -->
            </div>
        </div>





    </header>

</div>