<div th:fragment="header">
     <header>





        <!-- col 1  -->
        <div class="row">
            <div class="col-md-3">
                <img id="logo" src="/panier.png" alt="panier rigolo"/>
            </div>
            <!-- col 2  -->
            <div class="col-md-7">
                <h1>Bienvenue sur LaPlaceDuMarche.fr !</h1>
                <h3>Mangeons ce que nous pouvons, pas ce que nous voulons...</h3>
            </div>
            <!-- col 3  -->
            <div class="col-md-2">
                <a th:unless="${user}" href="/identification/login">Identification</a>
                <h3 th:unless="!${user}" th:text="'Bienvenue, ' + ${user.getFirstName()}"/>
                <a th:unless="!${user}" href="/identification/logout">Déconnexion</a>
                <!-- <a th:unless="!${username}" th:href="@{'/'+ ${user.getId()}}">Profil utilisateur</a> -->
            </div>
        </div>





    </header>

</div>