<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Utilisateurs</title>
</head>
<body>

<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->
    <table class="table">
        <tr>
            <th>Email utilisateur</th>
            <th>Prénom</th>
            <th>Mot de Passe</th>
        </tr>
        <tr th:each = "user:${users}">
            <td><a th:href="@{'/users/'+ ${user.getId()}}" th:value="${user.getId()}" th:text="${user.getId()}"/></td>
            <td th:text="${user.getEmail()}"/>
            <td th:text="${user.getFirstName()}"/>
            <td th:text="${user.getName()}"/>

        </tr>
    </table>
</section>

<section layout:fragment="content-right">

    <form action="/users/" method="post" class="form-group"> <!-- right-content-form -->
        <ul class="form-style-1">
            <li><label>Utilisateur <span class="required">*</span></label>
                <input type="text" name="email" class="form-control" placeholder="adresse email" />
            </li>


            <li>
                <label>Mot de passe<span class="required">*</span></label>
                <input type="text" name="password" class="field-long form-control" />
            </li>

            <li>
                <input type="submit" value="Enregistrer" class="form-control"/>
            </li>
        </ul>
    </form>

</section>


</body>
</html>