<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Profil d'un utilisateur</title>

</head>

<body>

<section layout:fragment="content">

    <p th:text="'Nom: ' + ${user.getName()}"/>
    <p th:text="'Prénom: ' + ${user.getFirstName()}"/>
    <p th:text="'Date de naissance: ' + ${user.getBirthday()}"/>
    <p th:text="'Email: ' + ${user.getEmail()}"/>
    <p th:text="'Tél.: ' + ${user.getTel()}"/>
    <p th:text="'Date d\'enregistrement: ' + ${user.getRegistrationDate()}"/>
    <p th:text="'Rôle(s): '"/>
    <p th:each="role: ${user.getAppRole()}" th:text="' - ' + ${role.getRoleName()}"/>

    <a th:value="'Editer l\'utilisateur'" th:href="@{'/identification/edit/' + ${user.getId()}}" th:text="'Editer l\'utilisateur ' + ${user.getEmail()}"/>

</section>

<section layout:fragment="content-right">
</section>

 <!--



 <button type="submit" th:href="@{'/users/' + ${user.getId()}}" th:text="'Editer votre profil'" th: th:method="put"/>


         <p>Sélectionnez les rôles de l'utilisateur</p>

         <div>
             <input type="checkbox" id="client" name="client" checked>
             <label for="client">Client</label>
         </div>
         <div>
             <input type="checkbox" id="producteur" name="producteur">
             <label for="producteur">Producteur</label>
         </div>
         <div>
             <input type="checkbox" id="livreur" name="livreur">
             <label for="livreur">Livreur</label>
         </div>
         <div>
             <input type="checkbox" id="admin" name="admin">
             <label for="admin">Admin</label>
         </div>

         <div><label> Veuillez entrer votre ancien mot de passe: <input type="password" name="oldpassword"> </label></div>

         <div><input type="submit" value="Sign In"/></div>



-->

</body>
</html>