<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<head>
    <title>Template</title>

</head>

<body>
<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Password</th>
            <th>Email</th>
            <th>Adresse</th>
        </tr>
        <tr>
            <td th:text="${user.getId()}"/>
            <td th:text="${user.getName()}"/>
            <td th:text="${user.getPassword()}"/>
            <td th:text="${user.getEmail()}"/>
        </tr>
    </table>

</section>

<section layout:fragment="content-right">

    <!-- INSERT SOMETHING HERE -->

</section>


</body>
</html>