<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Modification d'un utilisateur</title>

</head>

<body>

<section layout:fragment="content">

<form class="form-group" th:action="@{/identification/edit}" method="post">
    <div><label > Nom : <input class="form-control" type="text" name="name" th:placeholder="${user.getName()}"/> </label></div>
    <div><label > Prénom : <input  class="form-control" type="text" name="firstName" th:placeholder="${user.getFirstName()}"/> </label></div>
    <div><label > Adresse email : <input class="form-control" type="email" name="email" th:placeholder="${user.getEmail()}"/> </label></div>

    <label>Sélectionnez les rôles de l'utilisateur</label>

    <div>
        <ul>
            <li th:each="role: ${roles}">

                <input type="checkbox"  th:value="${role.getId()}"/>
                <label th:text="${role.getRoleName()}"/>
                <!--
            <input class="form-control" type="checkbox" th:field="*{user.getAppRole()}" th:value="${approle.getId()}">


    <label th:text="${role.getName()}">Admin</label>
        -->
            </li>
        </ul>
    </div>

    <!-- <div><label> Veuillez entrer votre ancien mot de passe: <input type="password" name="oldpassword"> </label></div> -->

    <div><input type="submit" class="form-control" value="Valider les modification"/></div>
</form>

</section>

<section layout:fragment="content-right">
</section>



</body>
</html>