<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>

<body>
<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->

    <form class= form-group th:action="@{/products/sortbycatandprod}" method="post">
        <fieldset>
            <div class="row">
                <div class="col-sm-6">
                <label>Par catégorie</label>
                <select class="form-control" name="category">
                    <option value="0"> -- </option>
                    <option th:each="category:${categories}" th:value="${category.getId()}" th:text="${category.getName()}"/>
                </select>
                </div>
                <div class="col-sm-6">
                <label>Par producteur</label>
                    <select class="form-control" name="producer">
                        <option value="0"> -- </option>
                        <option th:each="producer:${producers}" th:value="${producer.getId()}" th:text="${producer.getName()}"/>
                    </select>
                </div>
            </div>

            <br/>
            <input class="form-control" type="submit" value="Filtrer les produits"/><br/>

        </fieldset>
    </form>

    <div class="row">
        <div  th:each="product:${products}" class="col-md-4 item">
            <img th:src="${product.getPicture()}" class="product"/><br/>
            <a th:href="@{'/products/' + ${product.getId()}}" th:value="${product.getId()}"
               th:text="${product.getName()}"/> <div th:text="${product.getPrice()}"/><br/>
            <p><a th:href="@{'/orders/' + ${product.getId()} + '/sub'}" class="minus" th:value="${product.getId()}" >-</a> <input class="nbitem" />
                <a th:href="@{'/orders/' + ${product.getId()} + '/add'}" class="plus" th:value="${product.getId()}" >+</a></p>
        </div>

    </div>

    <!-- displays the number of each page -->
   <div class="arrow">&larr;<span>   </span>&rarr;</div>

</section>

<section layout:fragment="content-right">

    <p>Panier</p>
    <p>Total Panier: <span th:text="${total}"></p>
    <table class="table">
        <tr>
            <th>Article</th>
            <th>Quantité</th>
        </tr>
    <tr th:each="item:${cart}">
        <td th:text="${item.product.getName()}" />
        <td th:text="${item.getQuantity()}" />
    </tr>
    </table>
    <a th:href="@{/products/emptycart}" th:text="'Vider le panier'"/>
    <a th:href="@{/orders/save}" th:text="'Valider la commande'"/>

    <div id="test"></div>

</section>


<script>

    var x = 0;
    var cart = {};

    $(document).ready(function(){
       $("#test").addClass("animated shake").css("color","red");

    });

    $(".minus").on('click',function(){

        $("#test").html($(this).value());
    });

    $(".minus").on('click',function(){
        $("#test").html($(this).value());
    });



    $(".button").on('mouseenter',function(){
        $(this).fadeTo(200,0.5);
    });
    $("button").on('mouseleave',function(){
        $(this).fadeTo(100,1);
    });

    $("#test").html(x);


</script>


</body>
</html>
