<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">

<head> <!--layout:fragment="head"-->
    <meta charset="UTF-8"/>
    <!--<link rel="stylesheet" href="/css/global.css"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/shop/style.css" type="text/css" media="all" data-th-src="@{/css/shop/style.css}">
    <link rel="stylesheet" href="/css/shop/header/navbar.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/shop/footer/footer.css" type="text/css" media="all">

    <!-- -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"/>
    <script>
        var x = 3;

        var y = x + 4;

        console.log(y);
    </script>
</head>


    <body>



        <div class="container-fluid">
            <!-- Row 1 -->
            <div th:replace="fragments/header :: header"/>

            <!-- Row 2 -->
            <div class="row">
            <!-- col n°1  -->
                <section class="col-md-2">
                    <div th:replace="fragments/navbar :: navbar"/>

                </section>


            <!-- col n°2  -->
                <section class="col-md-8">

                    <section layout:fragment="content"/>

                </section>

            <!-- col n°3  -->
                <section class="col-md-2">

                    <section layout:fragment="content-right"/>

                </section>

                <!-- New row -->

            </div>

            <div class="row">
                <div class="col-md-2">
                    <div th:replace="fragments/contactform :: contactform"/>
                </div>
                <div class="col-md-8">


                </div>
                <div class="col-md-2">

                </div>
            </div>
            <!-- Row 3 -->
            <footer>
                <div class="row">
                    <div class="col-md-12">
                        <div class="icone">
                            <a href="https://www.linkedin.com/in/julien-cauwet-01035554/"> <i class="fa fa-linkedin-square"></i></a>
                            <a href="https://github.com/juliencauwet"> <i class="fa fa-github-square"></i></a>
                            <a href="https://www.facebook.com/julien.cauwet"> <i class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </body>
</html>