<!DOCTYPE html>
<html>
<div data-th-fragment="unsubscribe">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Désinscrire une instance
                </div>
            </div>
        </div>
    </div>
    <div data-th-if="${data instanceof T(java.util.List)}">

        <!-- LOOP MICROSERVICE -->
        <div data-th-each="ms,status : ${data}">
            <div class="input-group">
                <label class="input-group-addon" data-th-for="${ms.name}">Microservice</label>
                <label  data-th-id="${ms.name}" class="form-control" data-th-text="${ms.name}"></label>
            </div>
            <ul class="list-group">
                <li class="list-group-item" data-th-each="inst : ${ms.getInstances()}">
                    <div class="input-group">
                            <input type="text" class="form-control" data-th-value="${inst.instanceId}" readonly>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END LOOP MICROSERVICE -->

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Console</div>
        <div class="panel-body" id="consolePanel">
            <pre data-th-text="${data}"></pre>
        </div>
    </div>
</div>
</html>