<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{admin/layout}">
<head>
    <title th:text="${pageTitle}"></title>
</head>
<body>
<div data-layout-fragment="content" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-default" style="margin-left: 10px; margin-right: 10px;">
                <div class="panel-body text-center">
                    <form method="post">
                        <div class="form-group">
                            <label for="email">Adresse email :</label>
                            <input type="email" class="form-control" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe :</label>
                            <input class="form-control" id="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Connexion</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>