<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/shop/style.css" type="text/css" media="all" data-th-src="@{/css/shop/style.css}">
    <link rel="stylesheet" href="/css/shop/header/navbar.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/shop/footer/footer.css" type="text/css" media="all">
</head>

<body>

<!-- Main navigation menu -->
<div data-th-replace="shop/fragments/header :: header"></div>

<!-- Main content -->
<div class="container shadow-box-8">
    <div data-layout-fragment="content"></div>
</div>
<br>
<!-- Footer -->
<div class="container shadow-box-8">
    <footer data-th-replace="shop/fragments/footer :: footer"></footer>
</div>
<br>
</body>
</html>