<!DOCTYPE html>
<html data-layout-decorate="~{shop/layout}" lang="fr">
<head>
    <title>LPDM - Compte</title>
</head>
<body>
<div data-layout-fragment="content" style="padding-top: 10px;">
    <div class="row">
        <div class="col-sm-3 ">
            <br>
            <div class="panel panel-info">
                <div class="panel-heading"><b>Mon compte</b></div>
                <div class="panel-body shadow-box-8">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td>Mes informations</td>
                            <p th:text="'Nom: ' + ${user.getName()}"/>
                            <p th:text="'Prénom: ' + ${user.getFirstName()}"/>
                            <p th:text="'Date de naissance: ' + ${user.getBirthday()}"/>
                            <p th:text="'Email: ' + ${user.getEmail()}"/>
                            <p th:text="'Tél.: ' + ${user.getTel()}"/>
                            <p th:text="'Date d\'enregistrement: ' + ${user.getRegistrationDate()}"/>
                            <p th:text="'Rôle(s): '"/>
                            <p th:each="role: ${user.getAppRole()}" th:text="' - ' + ${role.getRoleName()}"/>
                            <hr>
                            <p th:unless="!${user.getAddress()}" th:text="'Adresse: ' + ${user.getAddress().getStreetNumber()} + ', ' + ${user.getAddress().getStreetName()} + ',' + ${user.getAddress().getCity().getName()} "/>

                            <hr>

                            <a th:value="'Editer l\'utilisateur'" th:href="@{'/identification/edit/' + ${user.getId()}}" th:text="'Editer l\'utilisateur ' + ${user.getEmail()}"/>
                        </tr>
                        <tr>
                            <td>Mes commandes</td>
                        </tr>
                        <tr>
                            <td>Mes factures</td>
                        </tr>
                        <tr>
                            <td>Se déconnecter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><b>Mes commandes</b></h4>
                </div>
                <div class="panel-body">
                    <h5>Vos commandes en un seul endroit</h5>
                    <h6>Si vous avez des questions, n'hésitez pas à <a href="#">nous contacter.</a></h6>
                    <br>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Date</th>
                            <th>Montant</th>
                            <th>Etat</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>#1459</td>
                            <td>10/12/2018</td>
                            <td>28.29 €</td>
                            <td>Livrée</td>
                            <td>Voir</td>
                        </tr>
                        <tr>
                            <td>#5796</td>
                            <td>02/01/2019</td>
                            <td>144.50 €</td>
                            <td>Livrée</td>
                            <td>Voir</td>
                        </tr>
                        <tr>
                            <td>#1836</td>
                            <td>10/01/2019</td>
                            <td>8.99 €</td>
                            <td>Livrée</td>
                            <td>
                                Voir
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>